<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>APP ANGULARJS</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<!-- LIB UI ROUTER -->
	<script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
</head>

<body>
<<<<<<< HEAD
	<div ng-controller="GrandCtrl">
		<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">AngularJS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#" ng-click="changeTab('home')">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" ng-click="changeTab('noticias')">NOTICIAS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" ng-click="changeTab('contacto')">CONTACTO</a>
					</li>
				</ul>
			</div>
		</nav>
		<br>
		<div id="home" ng-controller="HomeCtrl" ng-show="showTab('home')">
			<div class="container">
				<h2>{{titulo}}</h2>
				<br>
			</div>
		</div>
		<div id="noticias" ng-controller="NoticiasCtrl" ng-show="showTab('noticias')">
			<div class="container">
				<h2>{{titulo}}</h2>
				<br>
			</div>
		</div>
		<div id="contacto" ng-controller="contactoCtrl" ng-show="showTab('contacto')">
			<div class="container">
				<h2>{{titulo}}</h2>
				<br>
				<form>
					<input type="text" class="form-control" ng-model="form.nombre" placeholder="Nombre">
					<br>
					<input type="text" class="form-control" ng-model="form.mail" placeholder="Mail">
					<br>
					<textarea type="text" class="form-control" placeholder="Mensaje" ng-model="form.mensaje"></textarea>
					<br>
					<button class="btn btn-success" ng-click="sendData()">Enviar</button>
				</form>
				<br>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Mail</th>
								<th>Mensaje</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{item.nombre}}</td>
								<td>{{item.mail}}</td>
								<td>{{item.mensaje}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- App -->
	<script type="text/javascript" src="app.js"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="components/home/controllers/homeCtrl.js"></script>
	<script type="text/javascript" src="components/noticias/controllers/noticiasCtrl.js"></script>
	<script type="text/javascript" src="components/contacto/controllers/contactoCtrl.js"></script>
=======
	<div ng-controller="GrandCtrl" class="containerº">
		<ui-view></ui-view>
	</div>
	<!-- APP -->
	<script type="text/javascript" src="app.js"></script>

	<!-- CTRL -->
	<script type="text/javascript" src="components/home/controllers/homeCtrl.js"></script>
	<script type="text/javascript" src="components/noticias/controllers/noticiasCtrl.js"></script>
	<script type="text/javascript" src="components/contacto/controllers/contactoCtrl.js"></script>
	<script type="text/javascript" src="components/login/controllers/loginCtrl.js"></script>
>>>>>>> ed5269bea229ec7fa3b8f51eba14c3a4a40584b8
</body>

</html>