<h2>{{titulo}}</h2>
<form>
	<input type="email" name="" class="form-control">
	<br>
	<input type="password" name="" class="form-control">
	<br>
	<button class="btn btn-success">Ingresar</button>
</form>